.idea/
*.iml
node_modules
src/**/*.js
src/**/*.js.map
!src/lib/*.js
!src/lib/**/*.js
src/lib/numbersLab/*.js
debug/

src/*.js
src/d/*.js
src/lib/numberslab/*.js
src/model/*.js
src/model/blockchain/*.js
src/pages/*.js
src/providers/*.js
src/utils/*.js
src/workers/*.js

package-lock.json